<h2 class="partial-title">What is Chiriandreses Museum?</h2>

<div class="about-page-quote">
  <p>"An object in a museum is a condensed story,</p>
  <p> a silent witness waiting for a listener."</p>
  <p> Sandra Dudley <br> Museum Materialities: Objects, Sense and Feeling (2009)</p>
</div>

<div class="about-intro-targets">
  <p class="about-intro-lead"><strong>Chiriandreses Museum</strong> is the culmination of a personal, end-to-end 3D
    digitisation project of my family's heirlooms and travel mementos — it is a portal where you can see and interact
    with their 3D models, explore their digitisation notes, and learn about my family's stories encapsulated in them.
  </p>
</div>

<p>Using photogrammetry techniques, <span class="hl">every object was digitised as if they were a museum object</span> —
  aiming for <span class="hl">high-quality models</span>, <span class="hl">best model-object fidelity</span> given the
  available hardware and my current skills, and achieve a <span class="hl">high-end degree of traceability</span>.</p>

<div class="about-intro-method">
  <p>To achieve these targets, I have:</p>

  <ul>
    <li>Followed the guidance offered by the <a href="https://www.3d4ch-competencecentre.eu/en/" target="_blank"
        rel="noopener">3D4CH centre</a> on how to produce high-quality 3D digitisation models for Cultural Heritage,
      along with some tips from photogrammetry professionals in the field from different community forums.</li>
    <li>Implemented the European Commission's <a
        href="https://digital-strategy.ec.europa.eu/en/library/study-quality-3d-digitisation-tangible-cultural-heritage"
        target="_blank" rel="noopener">VIGIE 2020/654 framework</a> to learn-while-doing the current best practices on
      paradata and metadata for the Cultural sector.</li>
  </ul>
</div>

<p>The result is a 7-month, 6-stages thoroughly documented digitisation project spanning from photography, to metadata
  gathering, processing of 3D models and, finally, sharing them into a curated digital platform. An honest, personal
  record of what was truly measured and estimated, some playful experiments, and what models didn't survive the process,
  and why.
</p>

<h3 id="about-what-is-h3">A technical and a personal journey</h3>

<p>You can learn about the project from two angles — the pure technical record, and my personal learning journey
  behind it:</p>

<p>In <span class="hl about-section-ref">THE PROJECT</span> section I provide a friendlier, stage-by-stage walkthrough
  of the digitisation pipeline, what happened in each step of the way. Within this section, the
  <span class="hl">Project archive</span> gathers all the detailed, outputted technical records.
</p>

<p><span class="hl about-section-ref">MY JOURNEY</span> section contains the more personal side of the project.
  <span class="hl">Lab journal</span> is a day-by-day journal of the challenges I faced, my honest dead ends, and what
  I learned from these along the way. I captured my biggest takeaways and questions in
  <span class="hl">Lessons learned</span> — hopefully, it can help other peers avoid my same mistakes!
</p>

<figure class="about-intro-figure">
  <img src="assets/img/about/pap_mam.jpeg" alt="Javier and Rosa, in front of their objects">
  <figcaption style="text-align: center;">Javier and Rosa, my parents, in front of their collection
  </figcaption>
</figure>