<h2 class="partial-title">Lessons learned...</h2>

<p>Here you will find my toughest lessons, thing's that worked, things that didn't, and what I'd do differently next
  time
  around:</p>

<h3 style="color: var(--brass);">... on Photography:</h3>
<ul>
  <li>
    <p>My biggest takeaway is that, particularly in this stage, "slow goes far". <span class="hl">Allowing myself more
        time
        to un-rust my
        photography skills properly</span>, and get my fundamentals right (ISO, aperture etc...) would have given me
      better
      chances and tools to
      overcome the difficulties that I experienced
      during processing. I didn't take into account depth of field during the photography sessions, and that alone has
      cost me
      a
      few objects in the process.</p>
  </li>
  <li>
    <p>Also, another big lesson is <span class="hl">to not take angle coverage for granted</span> - because
      unfortunately is very simple: the software cannot create something it doesn't know. Recovering or patching this
      lack of information could hinder badly the standards that museum-professionals strive for. More
      angle
      coverage, and more steps for object-coverage itself are something that I know now are
      very essential to allow the software do the best job that it can, and achieve that best quality (scientific
      standard) of the 3D data.</p>
  </li>
  <li>
    <p><span class="hl">Knowing about shine-control techniques like cross-polarisation</span> would've also help me save
      quite a few objects too. So having this as an option back then, as I have it now, would've helped the software
      generate much better quality models throughout.</p>
  </li>
</ul>
<h3 style="color: var(--brass);">... on Processing:</h3>

<ul>
  <li>
    <p><span class="hl">Processing workflows are not universal, but taking the time to curate a good processing pipeline
        that you (really) understand
        can really make
        a
        difference.</span> Alignment/processing settings will unavoidably vary per object depending on it's geometric
      and texture
      needs,
      but many small workflow polishes really stacked up for me. AI-assisted bulk-masking of images did (generally *) a
      pretty good job,
      and helped me enhance the quality of tie-point alignment, improve final mesh quality and cut down processing time
      from
      ~4 hours down to 45 minutes.</p>
  </li>
  <li>
    <p>* BUT: AI automation isn't universally reliable. CHAN-014 (Caravaca cross) is a great case on that: this object
      was only rescued because I used a hybrid of masked and unmasked photographs,
      particularly where the AI masking wasn't very accurate. <span class="hl">Pipeline workflows, particularly
        automated ones, will at
        times
        need
        manual override, certainly not blind trust.</span></p>
  </li>
</ul>

<h3 style="color: var(--brass);">... on Post-processing and material authenticity</h3>
<ul>
  <li>
    <p>
      <span class="hl">Empirically-measured specularity (true-to-object shiny and metallic levels) is still a major gap
        in the sector
        when it comes to achieving 'authenticity' in digitisation</span>. Roughness and metallic textures maps are
      currently
      generally recreated based on image references and the technician's personal judgement. This limitation, which I
      only realised during the post-processing stage, is what new software like <em>Kintsugi 3D Builder</em> is aiming
      to overcome, and allow museum-professionals to generate empirically-measured specularity maps.
    </p>
  </li>
  <li>
    <p>This has sparked a
      true interest in me, and <span class="hl">at the time when I'm writing these lessons, I am currently experimenting
        and building a new photography and processing pipeline to implement <em>Kintsugi 3D Builder</em> in my
        Photogrammetry toolset.</span>
    </p>
  </li>
</ul>
<h3 style="color: var(--brass);">... on working habits:</h3>
<ul>
  <li>
    <p><span class="hl">Knowing when to stop chasing a dead end</span> is really important, mostly to maintain my
      sanity.
      A clear example on this
      was with the CHAN-004 set (the anthropomorphic figures), after exhausting settings/scripts/community advice, I had
      to make a pragmatic decision on the trade offs of 'letting go' rather than spending further time into
      an unproductive fight.</p>
  </li>

  <li>
    <p>On a similar note to strategic decisions, <span class="hl">shipping over perfectionism</span> is a big lesson for
      me. A great advice was
      given to me a while ago: <em>"Hardware is 'hard' - not easy to change, but software is 'soft' - meant to be
        changed."</em> Delivering, failing, reiterating,... all is part of "the game", and likewise of the learning
      journeys. It doesn't need to be perfect from the get go, it's all about the building, the journey.</p>
  </li>

  <li>
    <p><span class="hl">Lessons are not penalties for mistakes - they are new blueprints to help you build stronger the
        next time around!</span></p>
  </li>
</ul>